.hearder {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 4px;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 32px
}

.navbar a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}